{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "value": "prod"
    },
    "location": {
      "value": "uksouth"
    },
    "aadClientId": {
      "value": "YOUR_AAD_CLIENT_ID"
    },
    "aadTenantId": {
      "value": "YOUR_AAD_TENANT_ID"
    },
    "platformAdminEmails": {
      "value": "YOUR_ADMIN_EMAILS"
    }
  }
}